<launch>
  
    <!-- Required: -->

    <arg name="frame_id" default="sensorhead_11"/>
    <arg name="rtabmapviz"    default="true"/>
    <arg name="use_sim_time"  default="false"/>
    <param if="$(arg use_sim_time)" name="use_sim_time" value="true"/>
    

  <group ns="cam/0">
    <node pkg="rtabmap_ros" type="rgb_sync" name="rgb_sync" output="screen">
      <remap from="rgb/camera_info" to="/camera_arena_node/camera_info"/>
      <remap from="rgb/image_rect"  to="/camera_arena_node/image_rect"/>
    </node>
  </group>


    <!-- Nodes -->
  <group ns="rtabmap">
    
    <!-- ICP Odometry -->
    <node pkg="rtabmap_ros" type="icp_odometry" name="icp_odometry" output="screen" args="$(arg args)">
      <remap from="scan_cloud" to="/baraja_lidar_1/sensorhead_11"/>
      
      <param name="frame_id" type="string" value="sensorhead_11"/>
      <param name="scan_cloud_max_points"     type="int" value="15000"/>  
    </node>
    
    <node pkg="rtabmap_ros" type="point_cloud_assembler" name="point_cloud_assembler" output="screen">
      <remap from="cloud" to="/velodyne_points"/>

      <param name="assembling_time" type="double" value="1"/>
      <param name="voxel_size"      type="double" value="0"/>
      <param name="wait_for_transform_duration"      type="double" value="1"/>
    </node>
  
    <!-- SLAM -->
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="$(arg args)">
      <param name="subscribe_rgbd"       type="bool"   value="true"/>
      <param name="rgbd_cameras"    	 type="int"    value="1"/>
      <param name="subscribe_scan_cloud" type="bool"   value="true"/>
      <param name="frame_id"             type="string" value="sensorhead_11"/>
      <param name="odom_sensor_sync" type="bool"   value="true"/>
      <param name="gen_depth" type="bool"   value="true"/>
      <param name="gen_depth_decimation" type="int"   value="2"/>
      <param name="gen_depth_fill_holes_size" type="int"   value="1"/>

      <remap from="rgbd_image" to="/cam/0/rgbd_image"/>
      
      <remap from="scan_cloud" to="/baraja_lidar_1/sensorhead_11"/>
     
    </node>
  
    <!-- Visualisation RTAB-Map -->
    <node pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" output="screen">
      <param name="frame_id"             type="string" value="sensoehead_11"/>
      <param name="subscribe_scan_cloud" type="bool"   value="true"/>
      <remap from="scan_cloud" to="/baraja_lidar_1/sensorhead_11"/>
      <param name="subscribe_odom_info" type="bool" value="true"/>
    </node>
  
  </group>

</launch>
