<launch>

    <node pkg="ntrip_client"  type="ntrip_client.py" name="ntrip_client"  output="screen" >
        <param name="user" value="jasperHarvey" />
        <param name="password" value="Mcha2022*" />
        <!-- <param name="mountpoint" value="NEWE00AUS0" /> -->
        <param name="mountpoint" value="NWCS00AUS0" />
        <param name="caster" value="ntrip.data.gnss.ga.gov.au" />
        <param name="port" value="2101" />
        <param name="rtcm" value="rtcm" />
        <param name="fix" value="/an_device/NavSatFix" />*
        
    </node>

</launch>
